fiat-legacy.xyz {
	encode zstd gzip

	@backend path /api/* /uploads/*
	handle @backend {
		reverse_proxy 127.0.0.1:4000
	}

	handle {
		root * /var/www/animeshadow/apps/web/dist
		try_files {path} /index.html
		file_server
		encode zstd gzip
	}
}
